.Dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dashboard-Section {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Dashboard-Title {
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 0;
}