.EditTodo {
    margin-top: 50px;
    padding: 24px;
    background-color: #ffffff;
    min-height: 360px;
}

.EditTodo-Wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.EditTodo-Container {
    width: 30vw;
    min-width: 200px;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.EditTodo-Header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.EditTodo-Button {
    width: 100%;
    margin-top: 40px;
}

.EditTodo-DatePicker {
    margin-top: 20px;
}