.NewTodo {
    margin-top: 50px;
    padding: 24px;
    background-color: #ffffff;
    min-height: 100vh;
}

.NewTodo-Wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.NewTodo-Container {
    width: 30vw;
    min-width: 200px;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.NewTodo-Header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.NewTodo-Button {
    width: 100%;
    margin-top: 40px;
}

.NewTodo-DatePicker {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    color: #808080;
}

.NewTodo-FileInput {
    margin-top: 20px;
    padding: 2px;
    border-radius: 5px;
    color: #808080;
}