.ForgottenPasswordPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ForgottenPasswordPage-Section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ForgottenPasswordPage-Title {
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 0;
}

.ForgottenPasswordPage-Form {
  width: 300px;
}

.ForgottenPasswordPage-Button {
  width: 100%;
}

.ForgottenPasswordPage-Login {
  margin-top: 20px;
  float: right;
}